<div id="<%= dom_id blazo %>">
  <p>
    <strong>User:</strong>
    <!--今村翔太君に教えてもらいました-->
    <%= link_to blazo.user.name, users_edit_path(blazo.user) %>
    <!--ここまで-->
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= blazo.abstract %>
  </p>
  <p>
  <div>
    <strong>Likes: <%= blazo.likes.length %></strong>
  </div>
  </p>
</div>
