<div id="<%= dom_id blazo %>">
  <p>
    <strong>User:</strong>
    <!--今村君に教えてもらいました-->
    <%= link_to blazo.user.name, user_path(blazo.user) %>
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= blazo.abstract %>
  </p>
  <p>
    <strong>Likes: #likes</strong>
    <%= link_to "Press this to like", likes_create_path(blazo), method: :post %>
  </p>
</div>
